<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISelService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SelService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISelService" contract="SelServiceReference.ISelService"
                name="BasicHttpBinding_ISelService" />
            <endpoint address="http://localhost:8080/DuaService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IDuplexService" contract="DuaServiceReference.IDuplexService"
                name="WSDualHttpBinding_IDuplexService">
                <identity>
                    <userPrincipalName value="CLLQ\cllq" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>